<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>667658167892-tvr8au67uji2t1jckui6dm1mo9bu0ddv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.667658167892-tvr8au67uji2t1jckui6dm1mo9bu0ddv</string>
	<key>API_KEY</key>
	<string>AIzaSyCYuEND9R0wkNHL3EibG04ovCDUGrO1oV0</string>
	<key>GCM_SENDER_ID</key>
	<string>667658167892</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.WebLock-Prototype-03</string>
	<key>PROJECT_ID</key>
	<string>weblock-prototype-03</string>
	<key>STORAGE_BUCKET</key>
	<string>weblock-prototype-03.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:667658167892:ios:7faa7287ff56917f952fc1</string>
</dict>
</plist>